:root {
  --card-size: 180px;

  --page-background: #0e131a;
  --page-border: #0e131a;
  --container-background: #2e6ccf;
  --card-background: #f1f5f9;
  --text-color: #f1f5f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.prevent-scroll {
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--page-background);
}

.page {
  display: grid;
  grid-auto-flow: row;
  padding: 20px;
  gap: 40px;
  width: 100%;
  max-width: 1440px;
}
