:root {
  --modal-backdrop-color: rgba(14, 19, 26, 0.7);
  --table-head-background: #0e131a;
  --table-border: 2px solid var(--page-border);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100vh;
  background-color: var(--modal-backdrop-color);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}

.modal-backdrop_open {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 50px;
  max-width: 800px;
  background-color: var(--container-background);
  border: 2px solid var(--text-color);
  border-radius: 20px;
  transform: scale(0.8);
  transition: transform 0.3s ease-out;
}

.modal-backdrop_open .modal-window {
  transform: scale(1);
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.modal-content {
  padding: 20px;
  width: 100%;
  text-align: center;
  border: 2px solid var(--text-color);
  border-radius: 20px;
}

.modal-content_win {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-footer {
  width: 100%;
}

.modal-button-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.modal-button {
  width: 100%;
  padding: 12px 34px;
  background: none;
  color: var(--text-color);
  border: 2px solid var(--page-border);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.modal-button:hover {
  cursor: pointer;
  background-color: var(--page-border);
}

.leaderboard-table {
  width: 100%;
  min-width: 450px;
  border-collapse: separate;
  border-spacing: 0;
  border: var(--table-border);
  border-radius: 12px;
}

.leaderboard-table caption {
  margin-bottom: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: center;
  border-bottom: var(--table-border);
  border-right: var(--table-border);
}

.leaderboard-table th:last-child,
.leaderboard-table td:last-child {
  border-right: none;
}

.leaderboard-table tr:last-child td {
  border-bottom: none;
}

.leaderboard-table th {
  overflow: hidden;
  border-right: 2px dashed var(--text-color);
  background-color: var(--table-head-background);
}

.leaderboard-table th:first-child {
  border-top-left-radius: 10px;
}

.leaderboard-table th:last-child {
  border-top-right-radius: 10px;
}

.leaderboard-table th:first-child,
.leaderboard-table td:first-child {
  width: 10%;
}
